@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

.comtainer {
  width: 980px;
  max-width: 70%;
}
.header {
  margin: 100px auto;
  display: flex;
  gap: 5px;
}

.header-item {
  flex-basis: 70%;
}

.subheading {
  padding-left: 30px;
  padding-right: 50px;
}
.person-persons {
  max-width: 70%;
  width: 980px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.person {
  flex-grow: 1;
}
#person-1 {
  margin-bottom: 95px;
}
#person-2 {
  margin-top: 95px;
}
#person-3 {
  margin-bottom: 95px;
}
#person-4 {
  margin-bottom: 95px;
}
#person-5 {
  margin-top: 95px;
}
#person-6 {
  margin-bottom: 95px;
}

.header-title {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
  margin-top: 12px;
}

.secondary-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}

.description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

img {
  width: 250px;
  max-width: 100%;
}

.name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.role {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  vertical-align: top;
  writing-mode: vertical-rl;
}

@media screen and (min-width: 200px) and (max-width: 1280px) {
  .header {
    margin-top: 80px;
    margin-bottom: 50px;
    max-width: 100%;
    display: block;
  }
  .header-title {
    padding-left: 4%;
    margin-bottom: 40px;
  }
  .subheading {
    padding-left: 4%;
  }
  .description {
    font-size: 16px;
  }
  img {
    width: 70%;
  }
  .name {
    font-size: 12px;
    margin: 0;
  }
  .role {
    font-size: 10px;
  }
  .person-persons {
    gap: unset;
    max-width: 98%;
    padding: 5%;
  }
  .person {
    flex-basis: 50%;
  }
  #person-1 {
    margin-bottom: 0px;
    padding-right: 3%;
  }
  #person-2 {
    margin-top: 55px;
    padding-left: 3%;
  }
  #person-3 {
    margin-bottom: 0px;
    padding-right: 3%;
  }
  #person-4 {
    margin-top: 55px;
    margin-bottom: 0;
    padding-left: 3%;
  }
  #person-5 {
    margin-top: 0px;
    padding-right: 3%;
  }
  #person-6 {
    margin-top: 55px;
    padding-left: 3%;
  }
}
